// Glyphicons font path
$icon-font-path:        "~bootstrap-sass/assets/fonts/bootstrap/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27abcd;
